$main-color: #28293E;
$white: #FFF;
$acent-orange: #EF6D58;
$acent-purple: #B550F8;
$light-gray: rgba(255, 255, 255, 0.64);
$lighten-gray: rgba(255, 255, 255, 0.30);
$bg-baige: #FDF0E9;
$bg-baige-border: #F3D1BF;
$bg-dark-border: #3A3C56;
$text-dark: #391400;
$text-dark-gray: rgba(57, 20, 0, 0.64);
