$main-color: #28293e;
$white: #fff;
$acent-orange: #ef6d58;
$acent-purple: #b550f8;
$light-gray: rgba(255, 255, 255, 0.64);
$lighten-gray: rgba(255, 255, 255, 0.3);
$bg-baige: #fdf0e9;
$bg-baige-border: #f3d1bf;
$bg-dark-border: #3a3c56;
$text-dark: #391400;
$text-dark-gray: rgba(57, 20, 0, 0.64);
