$main-color: #28293e;
$white: #fff;
$acent-orange: #ef6d58;
$acent-purple: #b550f8;
$light-gray: #ffffffa3;
$lighten-gray: #ffffff4d;
$bg-baige: #fdf0e9;
$bg-baige-border: #f3d1bf;
$bg-dark-border: #3a3c56;
$text-dark: #391400;
$text-dark-gray: #391400a3;
